---
const { title, body, path, person, profession } = Astro.props;
---

<!-- Card -->
<div class="flex h-auto">
  <div class="flex flex-col bg-bg-deep-green border-[1px] border-white/10 rounded-3xl">
    <div class="flex-auto p-4 md:p-6">
      <h3 class="text-2xl text-center">{title}</h3>
      <br />
      <br />
      <p class="text-base italic md:text-lg text-gray-800 dark:text-gray-200">
        {body}
      </p>
    </div>

    <div class="p-4 bg-gray-100 rounded-b-xl md:px-7 dark:bg-slate-700">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img
            class="h-8 w-8 rounded-full sm:h-[2.875rem] sm:w-[2.875rem]"
            src={path}
            alt="Image Description"
          />
        </div>

        <div class="grow ml-3">
          <p
            class="text-sm sm:text-base font-semibold text-gray-800 dark:text-gray-200"
          >
            {person}
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            {profession}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Card -->
